.primaryButton{
    border-radius: 55px;
    width: fit-content;
    padding: 0.1% 4%;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    background: var(--button-color);
    color: var(--on-primary-button-color);
    border: 0 solid transparent;
}