.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px 60px;
}

@media screen and (max-width: 1347px) {
    .row {
        justify-content: center;
    }
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card {
    background: linear-gradient(208deg, #67C3F3 9.05%, #5A98F2 76.74%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    width: calc(100vw - 100px);
    max-width: 1120px;
    position: relative;
    padding: 70px 120px;
    box-sizing: border-box;
    gap: 60px;
}

.card * {
    color: white;
}

.customerInfo {
    display: flex;
    gap: 30px;
    align-items: center;
}

.customerText {
    display: flex;
    flex-direction: column;
}

.customerName {
    font-weight: 700;
    font-size: 22px;
}

.reviewContent {
    max-width: 420px;
}

.arrBut {
    background-color: transparent;
    color: var(--button-color);
    border: 0 solid transparent;
    font-size: 25px;
}

.dot {
    background-color: var(--dot-color);
    width: 12px;
    height: 12px;
    border-radius: 100px;
}
