:root {
  --secondary-background-color: rgba(103, 195, 243, 1);
  --button-color: rgba(63, 143, 246, 1);
  --on-primary-button-color: rgba(255, 255, 255, 1);
  --primary-color: rgba(0,0,0,1);
  --secondary-color: rgba(125, 121, 135, 1);
  --divider-color: rgba(0, 0, 0, 1);
  --dot-color: rgba(91, 155, 243, 1);

  color: #213547;
  background-color: #ffffff;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Mulish;
  font-size: 18px;
  color: var(--secondary-color);
}

h1, h2, h3, h4 {
  color: black;
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a:hover {
  color: #747bff;
}
button {
  background-color: #f9f9f9;
}
